<DOCTYPE html>
<html>
<head>
    <title>Backend_test</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>

    <div class="container">
        <div class="row">
            <div class="col-md">
                <div class="card card-body h-100 border-info" id="profile-wrapper">
                    <hr>
                    <h4>Hi I'm Hemaravishankar</h4>
                    <p> Hi if u want to login please type in url '/sign_up'</p>
                    <p>already a register member please typr in url /login</p>
                </div>
            </div>
        </div>
    </div>

</body>
</html>